[2019-10-24 20:36] ricardozanini opened #1 "Deploy a new Nexus instance with a given image and track its deployment status"
This is the basic functionality for the Nexus Operator. Users will have the option to create a new `Nexus` instance based on a given image (version 3.x)

After deployed, users could see the deployment status based on the `Deployment` resource like:

[code]

If there's no image input. the `latest` tag will be deployed.

[2019-10-24 20:39] ricardozanini opened #2 "Spin another pod if image CR got updated"
Users can update the `Spec.Image` field. In this case, a new pod should be created and deployed to the cluster preserving it's volume, secrets, configMaps and so on.

Data incompatibilities won't be treated for now.

[2019-10-24 20:48] ricardozanini opened #3 "Add an option to set admin default password for new installations"
Instead of relying on the image to set a random password and then have the user to `cat` the generated password in the container, would be better if we just set the default password on installations. The password can be changed later by the user manually.

[2019-10-24 20:49] ricardozanini opened #4 "Expose the Nexus service as a Route in OpenShift environments"
On OpenShift environments, a `Route` will be created to expose the Nexus service. For Kubernetes environment, a custom ingress controller.

Exposure on Kubernetes environments will be tackled in future versions.

[2019-10-24 20:56] ricardozanini opened #5 "Unless specified otherwise, the operator should create Apache, JBoss and Red Hat maven proxies"
Default proxy repositories created by the Operator:

- Apache -  https://repo.maven.apache.org/maven2/ (releases)
- Red Hat -  https://maven.repository.redhat.com/ga/ (releases)
- JBoss - https://repository.jboss.org/ (mixed)

Those repos should be grouped together in the `maven-public` group.

[2019-10-24 21:00] ricardozanini opened #6 "Update to OperatorSDK 0.11.0"
See:
https://github.com/operator-framework/operator-sdk/releases/tag/v0.11.0

[2019-10-30 23:28] ricardozanini opened #7 "Generate OLM files to publish at OperatorHub"
OperatorHub needs CVS files and other metadata files that can be generated via `operator-sdk` cli. Those files should be presented in the project to be able to send a PR to the OLM repo and publish it at Operatorhub.io catalog.

[2019-11-03 19:04] ricardozanini opened #9 "Integrate PR process with CI"
See:
https://github.com/marketplace/category/continuous-integration

[2019-11-03 19:05] #6 closed

[2019-11-15 22:03] ricardozanini opened #11 "Expose Nexus on Kubernetes via Ingress"
On OpenShift, we can safely use `Routes`, but on Kubernetes we should rely on `Ingress`.

Reference:
https://kubernetes.io/docs/concepts/services-networking/ingress/

[2019-11-16 10:00] ricardozanini opened #12 "Add support for Nexus 2"
Today the operator only supports version 3, but version 2 stills in development. Would be nice to support both.

Reference https://github.com/sonatype/docker-nexus

[2019-11-16 13:59] ricardozanini opened #13 "Adjust INSTALL4J_ADD_VM_PARAMS to follow Resources Requirements"
Would be safer to follow the `INSTALL4J_ADD_VM_PARAMS` with the Resources Requirements set for the `Deployment` of Nexus 3

[2019-11-16 14:27] ricardozanini opened #14 "On OpenShift, create ImageStreams to handle Nexus Images"
When deploying on OpenShift, would be better to have support for Image Streams, this way we could create a new stream on openshift namespace to fetch from Red Hat Catalog certifies images, otherwise users would have to set their own tokens within Nexus namespace to use Red Hat certified images.

[2019-11-16 15:42] #1 closed

[2019-11-16 15:42] #2 closed

[2019-11-18 20:36] ricardozanini commented on #11
The user should inform the `host` where the Nexus Ingress should be applied to or, if they prefer, to use a `NodePort` (not suitable for production environments).

[2019-11-18 21:21] #7 closed

[2019-11-19 01:38] ricardozanini opened #16 "Add pre hook script to write admin temp password"
When it’s first created, Nexus 3 writes a file in `/nexus-data` directory containing the temporary password for admin.

A pre hook script that writes to this file a pre defined password can be set so users could easily grab it in the Operator Status screen to do the first login.

[2019-11-20 18:06] #4 closed

[2019-11-20 22:10] #11 closed

[2019-11-22 21:09] ricardozanini opened #20 "Add TLS support"
On OpenShift, rely on Routes. For Kubernetes, open a spec to add crt and key to be injected into the Ingress

[2019-11-23 22:25] ricardozanini commented on #16
Doesn't work overriding the file since Nexus should hold the password in somewhere else that we don't have access.

[2019-11-23 22:25] #16 closed

[2019-11-26 05:29] ron1 opened #23 "Allow configuration of S3 Blob Store"
Nexus 3.12 introduces support for S3 blob stores. The Nexus Operator should consider supporting an S3 blob store via an ObjectBucketClaim offered by the lib-bucket-provisioner operator (see https://github.com/kube-object-storage/lib-bucket-provisioner) and its various implementation operators.

[2019-11-29 14:12] ricardozanini commented on #3
Reference:
https://issues.sonatype.org/browse/NEXUS-21999

[2019-11-30 19:06] ricardozanini opened #24 "Image status are not displaying correct"
In the status page, the `Use Red Hat Image` attribute is displaying `true` even though the property is set to `false`

[2019-12-18 07:56] sutaakar opened #25 "Nexus fails when deployed without persistence"
When I deploy Nexus without persistence then the Nexus pod fails with "Permission denied" issues.

Example CR:
[code]
In the log I can see:
[code]

[2019-12-18 12:47] sutaakar commented on #25
Deploying Nexus with persistence works correctly.

[2019-12-18 18:27] ricardozanini commented on #25
It seems that the image requires a PV mounted :(

I’ll take a look into it to understand if we can run the image without volume.

[2019-12-31 19:06] #13 closed

[2020-01-02 17:01] #24 closed

[2020-01-03 12:49] AdheipSingh opened #28 "Enhancement in Nexus Spec"
In current master this is the  nexus spec object supporting the following parameters.
[code]
I would like to suggest an enhancement  to this spec following all the deployment parameters such as taints,tolerations, liveliness, affinity , pod disruption budgets to be added.
Ill raise a PR for this soon.

Possible to add this on Projects as ticket enhancement.

[2020-01-03 16:56] ricardozanini commented on #28
Hi! Please feel free to send a PR so we can discuss this implementation.

I’d like to also understand the motivations behind this spec. Do you mind sharing some use cases? Will help me understand your needs. :)

Many thanks for your contribution!

[2020-01-03 22:51] AdheipSingh commented on #28
I want like to add the following in the deployment spec
1. NodeSelectors, Tolerations, Affinity - I want to deploy nexus on tainted nodes so that no other pod apart from nexus can run on node.
2. Security Context - Apart from admin, don't want other teams to exec and execute commands in the container.
3. Pod Disruption Budget - PDB is critical in case on node drains and upgrades would want certain

[2020-01-04 16:06] ricardozanini commented on #28
Awesome! Go ahead and send a PR, but wait for one update I’ll be sending over next Monday that changes the way the Deployment equality is done.

Would be needed for those changes.

Thanks again for reporting this.

[2020-01-07 13:34] ricardozanini commented on #28
Related: https://github.com/m88i/nexus-operator/pull/29

@AdheipSingh you can now rebase your branch and send the PR :-)

[2020-01-07 16:55] AdheipSingh commented on #28
@ricardozanini Sure by eow it should be finalized.

[2020-01-16 21:02] #9 closed

[2020-04-25 16:04] ricardozanini opened #31 "Migrate to Operator SDK 0.17.0 and Go 1.14"
The Nexus Operator is on unstable state, duo to old Kube API access, need to be updated ASAP.
https://github.com/operator-framework/operator-sdk/releases/tag/v0.17.0

[2020-04-25 16:08] ricardozanini opened #32 "Improve OLM Integration"
The package naming is not in sync with the OLM specification: https://operator-sdk.netlify.app/docs/olm-integration/user-guide/#creating-a-bundle

[2020-04-26 14:30] ricardozanini opened #34 "Write permissions problem on minikube"
Container hangs on pod initialization problem because of lack of permissions on `/nexus-data` directory:

[code]

[2020-04-26 21:11] ricardozanini commented on #34
On minikube we're facing this issue: https://github.com/kubernetes/minikube/issues/7218
The PV manually created doesn't have the right permissions.

[2020-04-26 21:51] #31 closed

[2020-04-26 21:55] #34 closed

[2020-05-01 18:12] ricardozanini commented on #32
Error during validation:
https://github.com/operator-framework/operator-sdk/issues/2952

[2020-05-01 20:55] ricardozanini commented on #25
Fixed here:
https://github.com/m88i/nexus-operator/pull/35

[2020-05-01 23:06] #25 closed

[2020-05-01 23:11] ricardozanini opened #37 "Write e2e tests to increase reliability of OperatorHub PRs"
We are missing basic e2e tests: https://operator-sdk.netlify.app/docs/golang/e2e-tests/

This issue follows up #32

[2020-05-02 21:57] #32 closed

[2020-05-02 22:27] LCaparelli opened #39 "Rewrite comparator logic"
Currently the comparator is not using custom comp functions, which leads to changes in Ingress (which doesn't have a default comparator) to be left unaddressed. We could wrap the comparator with a builder to point to our own comp functions, such as in the [Kogito Operator](https://github.com/kiegroup/kogito-cloud-operator/blob/master/pkg/framework/comparator.go).

This also increases our control o

[2020-05-02 23:17] LCaparelli opened #40 "The Operator fails to start on Openshift 3.x"
When starting the Operator on Openshift 3.x the following error occurs:

[code]

This is due to the fact that we only compare group names when assessing which resources are available in `pkg/framework/controller_watcher.go`:

[code]

The Ingress is part of networking.k8s.io/v1beta1. Openshift 3.x supports networking.k8s.io/v1, but not v1beta1. As we compare the group name but not the version, `fou

[2020-05-02 23:27] LCaparelli commented on #20
Currently on hold for #40 in order to test and create examples using Openshift

[2020-05-02 23:54] ricardozanini commented on #39
should we fix this for 0.2.0?

[2020-05-02 23:54] ricardozanini commented on #40
Setting to 0.3.0 since OCP 3.11 is on sunset

[2020-05-03 04:00] LCaparelli opened #41 "Pods can't be started on OCP 3.x clusters with default configuration"
When attempting to deploy to an OCP 3.x cluster the following error pops up:

[code]

As Nexus must run using this UID the cluster administrator needs to create a scc to work around this. It would be nice if we could supply this scc and have this documented.

[2020-05-05 14:22] ricardozanini opened #46 "Add OLM Test to PR check CI"
We already have OLM Verify, we are missing test and install.

See:
https://github.com/operator-framework/community-operators/blob/master/docs/using-scripts.md

[2020-05-05 18:24] #37 closed

[2020-05-05 20:59] #46 closed

[2020-05-05 21:31] #20 closed

[2020-05-05 21:31] #40 closed

[2020-05-05 22:01] ricardozanini commented on #41
The reason of this BUG is that OCP 3.11 has a default SCC that prevents userID with low numbers, such as 200 (the one Nexus uses). To fix this, a custom SCC must be created in the namespace. See: https://docs.openshift.com/container-platform/3.11/install_config/persistent_storage/pod_security_context.html

We will document and add a SCC example to the project to help administrators have the operat

[2020-05-06 11:41] ricardozanini opened #48 "Verify the possibility to add e2e tests on CI"
Since we proved that KIND works for OLM checks, we could use the same platform to run our e2e tests.

[2020-05-06 13:06] #48 closed

[2020-05-06 13:25] ricardozanini commented on #41
Pushing to 0.2.0, if we have the time by the end of the milestone we should include this one.

[2020-05-07 18:18] LCaparelli opened #51 "Add SCC to the Service Account in OCP"
Having the operator's [Service Account](https://docs.openshift.com/container-platform/4.3/authentication/understanding-and-creating-service-accounts.html)  using a  restrictive  [SCC](https://docs.openshift.com/container-platform/4.3/authentication/managing-security-context-constraints.html) would improve the operator's security.

I have an [initial implementation](https://github.com/LCaparelli/ne

[2020-05-11 20:34] #41 closed

[2020-05-11 20:47] LCaparelli opened #55 "Refactor resource management to simplify its logic"
We could adopt the same pattern used in #52 to simplify the resource life cycle management. We could introduce an `ìnterface` along the lines of:

[code]

Objects that implement this interface would be responsible for managing a domain of resources life cycle.

It could also simplify the logic contained in `pkg/controller/nexus/resource/resources.go` by storing a set of `ResourceManager` objects w

[2020-05-12 18:17] ricardozanini opened #59 "Automate README TOC generation"
FUP for #58

Since now we have a TOC, would be nice to automate its generation on `make vet` command. Adding markups like ``  and ``  would ease the automation.

TOC being generated by https://github.com/ekalinin/github-markdown-toc

[2020-05-13 11:49] ricardozanini opened #60 "Implement backup persistent storage"
Nexus has a built in backup capability. Would be interesting to also have a this feature supported by the operator by providing a persistent storage to it. See: https://help.sonatype.com/repomanager3/backup-and-restore/configure-and-run-the-backup-task

## Proposal

The Nexus CRD interface would have a switch to turn backup on/off. If "on", the operator would create a PVC for it, and call the inte

[2020-05-13 12:02] ricardozanini opened #61 "Research on support High Availability"
Nexus 3 has [support for high availability](https://help.sonatype.com/repomanager3/high-availability). This issue is to track this requirement and analyse the possibilities to implement it. We could consider deploying Nexus as a[ `statefulset` instead of `deployment`](https://stackoverflow.com/questions/41583672/kubernetes-deployments-vs-statefulsets) in such scenarios.

[2020-05-13 12:25] LCaparelli commented on #60
That would be great, nice idea! I'm a bit worried about how we would report anything going wrong with this task. The pods would be in running state even if this failed and I assume we'd throw an event via the reconcile loop if there was an error, but it can take the admin a minute or two to realize they need to check the Nexus resource status even if all pods are running and healthy.

Not that I d

[2020-05-13 13:33] ricardozanini commented on #60
If what fails? The API calls to create the backup task? That would be an event in the console. But for the operator side it's just an API call to the `nexus3:8081` internal service. If that fails, we inform the admin in the event message and life goes on. Since it will be a goroutine (the calls won't be made during the reconcile loop), we would try again until the task is created. Once created, th

[2020-05-13 14:06] LCaparelli commented on #60
Yup.

Yeah, this is the part I am concerned with. Assuming the Kubernetes console is similar to Minikube's dashboard we wouldn't see this event popping up as the dashboard doesn't display the status of custom resources, such as the Nexus CR. It would show an all-green overview for deployments, pods, replicasets, but there wouldn't be anything hinting to an issue with the backup activity. The user

[2020-05-14 11:42] ricardozanini opened #62 "Level up to "Seamless Upgrades" capability level"
Issue to track our capability level. We should be able to do minor upgrades of the installed Nexus Server. This will probably impact the way we handle the application image, since we are using `latest` tag by default, which is not a good practice. Today, if the user provides an image for the Nexus server, the operator will stick with it, unless the user manually change it later in the CR.

Ideally

[2020-05-14 11:46] ricardozanini commented on #62
Related to #14

[2020-05-14 11:49] ricardozanini commented on #60
I think that there's some monitoring applications out there that look at the "Events" API, that an admin probably will/should take a look. There's no much for us to do unless documenting, alerting and logging the problem. "All green" is correct since our pod would be corrected deployed. =D

[2020-05-15 16:55] ricardozanini opened #64 "Nexus Operator fails to create a ServiceAccount for the deployed CR"
See: #63

This is a regression from #41 fix.

In version 0.2.0 users will see the following message in the logs:
[code]

To workaround this issue the `nexus-operator` service account must have permissions on the object `serviceAccount`. We control this kind of permission in the `roles.yaml` file. See #41.

There are some other things to polish before to fix this bug. That's why we opened this issu

[2020-05-15 19:40] #64 closed

[2020-05-16 20:27] ricardozanini opened #67 "Customize Nexus service liveness/readiness probe"
Nexus Operator should open the default liveness and readiness probes for users to customize them.

See: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes

[2020-05-18 11:12] ricardozanini commented on #3
Default properties file: `opt/sonatype/sonatype-work/nexus3/etc/nexus.properties`

[2020-05-18 14:57] #67 closed

[2020-05-18 18:58] ricardozanini commented on #3
We will keep the "onboarding" since it's useful for users to enable/disable the anonymous access to the service or any other task that Sonatype team might add to this process in the future.

[2020-05-18 21:29] ricardozanini commented on #5
This might help:
https://github.com/idealista/nexus-role/blob/master/tasks/script/run_script.yml

We should support running groovy scripts within the operator, so we could run such tasks in the background or while deploying the service.

[2020-05-18 21:39] ricardozanini commented on #5
Here's the script that we need: https://github.com/idealista/nexus-role/blob/master/files/scripts/maven/create_proxy_repository.groovy

And here's the documentation of how to create and run those scripts: https://help.sonatype.com/repomanager3/rest-and-integration-api/script-api

We should create an user for the operator like `nexus-operator` in the server in order to manage those details. We coul

[2020-05-18 23:24] #3 closed

[2020-05-19 20:58] LCaparelli opened #73 "Ingress comparison is not working as expected"
Ingress comparison is not working as expected due to 2 issues:

  1. the type registered to the comparator is `k8s.io/api/extensions/v1beta1.Ingress` instead of `k8s.io/api/networking/v1beta1.Ingress`
  2. the comparison function compares the deployed resource with itself, instead of comparing it with the required resource

[2020-05-19 22:30] LCaparelli opened #75 "Add networking e2e tests"
It would be nice to have e2e tests for the multiple networking scenarios we support.

[2020-05-20 00:56] ricardozanini opened #76 "Add OLM image in CI cache to avoid pulling it all the time"
Today we had an outage in Quay repository, which had a great impact in our CI since we pull the OLM image from it.

Would be better to cache this image with Docker service and load it every time instead of pulling it. Will decrease our CI processing time and will also prevent our workflow to face problems like this in the future.

Link for the outage: https://status.quay.io/incidents/kw2627bsdwd9

[2020-05-20 16:52] #73 closed

[2020-05-22 13:19] #55 closed

[2020-05-26 14:04] LCaparelli commented on #39
Hey @ricardozanini do you still think this is necessary after #55 was resolved by shifting comparison responsibility to the resource managers?

[2020-05-26 15:43] ricardozanini commented on #39
I don't think so. We might close this one. :)

[2020-05-26 17:50] #39 closed

[2020-05-26 19:20] LCaparelli commented on #60
Depends on #5

[2020-05-27 18:18] ricardozanini commented on #5
Depends on https://github.com/m88i/nexus-client

[2020-05-30 16:02] ricardozanini opened #80 "Add Nexus3 health check using its own API endpoint"
**Is your feature request related to a problem? Please describe.**
Today the health check just makes a HTTP request to the default port, instead the Nexus Server offers a standard health check endpoint on `/service/rest/v1/status`.

**Describe the solution you'd like**
The Nexus deployment probes to check the default health endpoint instead of the default port only.

**Describe alternatives you've

[2020-06-01 21:42] LCaparelli commented on #51
Upon further investigation it was discovered that the SCC couldn't be created due to being a cluster-scoped resource. As such, it couldn't have a namespaced resource as owner. Until a more suitable alternative is found the user will need to apply a valid SCC to the service account being used by the operator when using the community Nexus image.

When using the Red Hat certified image this is no lo

[2020-06-01 21:52] LCaparelli opened #82 "Move all Nexus CR validations to the resource Managers"
**Is your feature request related to a problem? Please describe.**
At this moment validations are spread out in the reconcile loop and in resource-generating functions. This makes the code harder to maintain as we need to worry about validation in more than one place. Additionally, projects importing this are not able to send a Nexus CR to the managers without making additional checks themselves.

[2020-06-01 23:01] LCaparelli opened #83 "Allow the user to select the Pull Policy"
**Is your feature request related to a problem? Please describe.**
At the moment the Pull Policy is hardcoded as "Always", meaning the user has no choice whether or not to pull an image.

**Describe the solution you'd like**
It would be nice if the user could select the policy as they see fit.

**Describe alternatives you've considered**
There could be a new field in the Nexus CRD to control this.

[2020-06-02 13:41] ricardozanini opened #84 "Upgrade to Operator SDK 0.18.0"
Let's try to stay in their release pace: https://github.com/operator-framework/operator-sdk/releases/tag/v0.18.0

Since we are on 0.17.1, this upgrade should be seamless.

[2020-06-09 13:59] ricardozanini opened #89 "Integrate PR CI Check with Coveralls or Codecov"
Add unit test coverage reports with Coveralls: https://github.com/marketplace/actions/coveralls-github-action

[2020-06-10 10:52] #82 closed

[2020-06-15 13:32] #84 closed

[2020-06-16 04:49] Kaitou786 opened #92 "Fix path for `go.mod` in CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
In the CONTRIBUTING.md if one clicks on the `the go.mod file` link it reroutes requests to a link which is not available

**Describe the solution you'd like**
On clicking the link, it should be rerouted to the go.mod file on the repo

**Describe alternatives you've considered**
Changing the path on link should fix this issue

**Add

[2020-06-16 15:53] #92 closed

[2020-06-17 10:22] Kaitou786 commented on #83
@LCaparelli IIRC if we remove the `ImagePullPolicy` from `controller>nexus>resource>deployment>deployment.go` as it is an optional parameter, it'll be configured to `Always` in case of `latest tag` and `IfNotPresent` if any other tag is present. Do you think this'll be enough or do we want to take the input from user only?

[2020-06-17 13:33] ricardozanini commented on #83
Good point, @Kaitou786
I believe we can remove the parameter, leaving it as optional like you said, add a section in the README pointing that, but also add this parameter in the CRD in case the user wishes to override the default behavior.

Some users close the cluster access to third party registers, pushing themselves the images to the internal registry. In cases like this, they won't want to ma

[2020-06-17 13:44] Kaitou786 commented on #83
Ah yes, so only set this parameter when user have defined it in the rescource spec.

[2020-06-17 16:23] LCaparelli commented on #83
@Kaitou786 nice catch, I believe we should always defer to Kubernetes default behavior when possible.

@ricardozanini I like that idea a lot.

So we're all on the same page: the default behavior will be to simply not define `ImagePullPolicy` when creating the Deployment. If the user has not specified `spec.image` (which should be the full image with tag) or if they set `spec.useRedHatImage` as tru

[2020-06-17 19:07] ricardozanini commented on #83
Sounds awesome to me.

[2020-06-18 03:35] Kaitou786 commented on #83
That sounds perfect.

[2020-06-20 18:17] #83 closed

[2020-06-24 09:01] Kaitou786 opened #99 "Improve install scripts or change README file"
**Is your feature request related to a problem? Please describe.**
Today when the user clones the project and just run `make install` the nexus deployment fails as the image with 0.3.0 doesn't exist on quay, user can edit the deployment and change the image tag to run the pod

**Describe the solution you'd like**
User should not edit anything just running the `make install` should get the deployme

[2020-06-24 12:43] ricardozanini commented on #99
@Kaitou786 are you going to send a PR to this one?

[2020-06-24 12:45] Kaitou786 commented on #99
@ricardozanini Yes I'll I just wanted to discuss and see which approach do you think is best

[2020-06-24 13:06] ricardozanini opened #100 "Rebuild Nexus Operator 0.2.1 image to fix CVE RHSA-2020:2637 and RHSA-2020:1998"
At this moment we have two security issues in our latest image, impacting our users. We should rebuild to take a fresh [`ubi8`](https://catalog.redhat.com/software/containers/ubi8/ubi-minimal/5c359a62bed8bd75a2c3fba8?container-tabs=overview) base image that has these fixes.

Also, we will create a tag `0.2` pointing to the latest micro version. This way administrators can choose whether or not dep

[2020-06-24 13:21] ricardozanini commented on #99
If we can do this in an automatic matter (the install script to discover the latest version and install it), I'd say 3 as well. If not, I'd go with 2.

@LCaparelli wdyt?

[2020-06-24 16:33] LCaparelli commented on #99
I like 3 too! If we can't get that working, we can also keep the master branch with the "latest" tag while each release branch points to the same release tag.

[2020-06-24 16:47] Kaitou786 commented on #99
@LCaparelli I think tags are better than branching for every minor release, IMO we can have branches for every major release and tags for minor ones.
For 3rd way, I thought of two ways.
a.) checkout the repository at the tagged commit, i.e our current latest release is 0.2.1 which is tagged so we can have a step `git checkout tags/v0.2.1`  we can have the default value as the latest tag but user c

[2020-06-24 18:00] ricardozanini commented on #99
We only branch if we would launch a minor fix for a major version, not otherwise. Since we are on Beta stage, I'd say to just go for the next version and keep coming. Aligning branches are a PITA.

@Kaitou786 you would need to fetch for the latest tag in our repo. I believe GH has an api or a URL in the repo to fetch for the latest one. Take a look on the badge that we have in the README.md to fig

[2020-06-24 18:06] Kaitou786 commented on #99
@ricardozanini ah yes that is better, I'll do this and send the PR sometime tomorrow =D

[2020-06-24 22:03] LCaparelli opened #101 "Add unit tests to Resource Managers"
There are no unit tests for the Resource Managers, it would be nice to have some.

[2020-06-24 22:17] LCaparelli commented on #99
I was thinking something similar, see below.

While we're on 0.x I agree. As for when we're out of beta I like the release cycle RHEL has, which branches at every minor ("y" in "x.y.z") but also keeps a z stream which cherry picks commits which has been made to the next Y stream before its release (think urgent stuff, like security fixes). Maybe branches for the Y stream and tags for Z streams.

W

[2020-06-24 22:20] ricardozanini commented on #100
Images updated:

[code]

https://quay.io/repository/m88i/nexus-operator?tab=tags

Now we're free of vulnerabilities.

[2020-06-24 22:20] #100 closed

[2020-06-24 22:21] ricardozanini commented on #89
Or: https://codecov.io

[2020-06-25 10:15] #80 closed

[2020-06-25 10:16] #75 closed

[2020-06-25 10:35] Kaitou786 commented on #89
I think codecov is better it gives us more flexibility.

[2020-06-25 11:34] ricardozanini commented on #89
I believe we will have to figure out their check method. :(

Maybe opening an issue in their repo asking about it? Do we have resources/reproducer to show them?

[2020-06-25 12:56] #99 closed

[2020-06-25 13:28] Kaitou786 commented on #89
I checked the codecov report I think we can use it, all the parts showed covered in go tool is also covered in codecov(Which should be the case as it is using same report). The only difference which I found was the coverage shown on codecov is a bit more because it considers the line where the function is defined as covered whereas go tool ignores it(does not track that line). For eg. in file `pkg

[2020-06-25 13:55] ricardozanini commented on #89
@Kaitou786 looks good to me. If you've already implemented, bring it on! Do you need any information from me or do you need that I adjust any setting in the repository itself?

[2020-06-25 14:06] Kaitou786 commented on #89
@ricardozanini yes, can you signup on codecov.io with github and add this `m88i/nexus-operator` repository over there? Currently the report that I sent was from my forked repo.

[2020-06-25 14:13] LCaparelli commented on #89
Sounds good to me! On a sidenote, gotta love that html format from `go tool cover`. go.tooling++

[2020-06-25 16:01] ricardozanini commented on #89
Done! https://codecov.io/gh/m88i/nexus-operator

[2020-06-25 16:13] Kaitou786 commented on #89
Thanks!, I'll send the PR sometime tomorrow =D

[2020-06-26 19:46] #89 closed

[2020-06-29 16:24] Kaitou786 commented on #28
@AdheipSingh are you planning to work on this issue?

[2020-06-29 18:15] ricardozanini commented on #28
@Kaitou786 if you have the time, suggest a PR so we can discuss there and invite @AdheipSingh. Seems a long time, maybe he got busy with other work. :(

[2020-06-29 22:04] LCaparelli opened #105 "Allow the fake client to mock server API error responses"
Today we have the following implementation for the fake client used in testing, taken from `pkg/test/client.go`:

[code]

While this is nice and really useful, it doesn't allow us to mock specific responses to certain events/actions. That feature would come in pretty handy when testing the resource managers' ability to handle/report errors when the server responds, for example, with a 500 status c

[2020-06-29 22:04] LCaparelli commented on #105
What do you think @ricardozanini @Kaitou786? :-)

[2020-06-29 23:08] ricardozanini commented on #105
Please also send a PR to the Kogito Operator once we finish this implementation here. :)

[2020-06-30 04:31] Kaitou786 commented on #28
@ricardozanini sure :-)

[2020-06-30 18:13] ricardozanini opened #106 "Should we change our main branch from 'master' to 'main'?"
Looks like `master` is a racism term. I'd like to hear from you guys more about it:
https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

[2020-06-30 18:26] LCaparelli commented on #105
Unfortunately things are not so simple. The operator-sdk builds on top of the of [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime). Most notably in this context, it builds on top of the [Client interface](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/interfaces.go#L104).

[client-go](https://github.com/kubernetes/client-go/) is the one that

[2020-06-30 18:56] LCaparelli commented on #106
While I agree that "master" is a racist term under the "master/slave" context, I don't think it is on other contexts (such as "dungeon master").

I see that article briefly mentions this and concludes that "Turns out the original usage of master in Git very likely came from another version control system (BitKeeper) that explicitly had a notion of slave branches". Right, but git _isn't_ BitKeeper

[2020-07-01 13:17] ricardozanini commented on #106
I agree with your wall of text. =D

I'll rename the branch tonight. :)

[2020-07-01 13:38] ricardozanini commented on #105
@LCaparelli we already encapsulate `client-go` and `controller-runtime` clients in the Kogito Operator, I believe we could do something similar here. In the code base we would use `controller-runtime` created by the SDK and on test, we inject the new structure we would create.

[2020-07-01 14:12] LCaparelli commented on #105
@ricardozanini get out of my head. I was thinking that too :-)

[2020-07-02 11:59] Kaitou786 commented on #106
+1 for the change =D

[2020-07-02 14:43] ricardozanini commented on #106
I forget to change, will do in the weekend

[2020-07-02 18:11] #105 closed

[2020-07-03 18:11] LCaparelli opened #109 "Refactor resource managers to return their struct, not the interface"
When creating a new resource manager today we return its interface:

[code]

While this is fine at the moment, it goes against the ["Accept Interfaces Return Struct"](https://mycodesmells.com/post/accept-interfaces-return-struct-in-go) rule of thumb. Returning an interface brings no additional benefit, but it can reduce the code's flexibility by removing all of the object's behavior that's not exp

[2020-07-03 18:14] ricardozanini commented on #109
That's true for public structures, but not for private ones that we **do want** to hide the additional behavior.

[2020-07-03 19:35] LCaparelli commented on #109
That's a good point. But exposing the struct doesn't necessarily add new liberties to the user. If we expose the struct and keep its fields private, then the user will still depend on the methods we expose to actually use that type.

In this scenario we'd need to add nil checks on the methods to make sure we don't end up panicking for nil dereference, but I personally don't see that as a big negat

[2020-07-03 20:17] ricardozanini commented on #109
I'm not against it. But if I'm a caller and I see in my IDE things like `infra.Manager` I'll try to `manager := infra.Manager{}`. That's a UX problem from the caller pov.

If you want to expose such interfaces, just add the methods to the interface instead. I can see benefits of this method without having to rely on builders. For example, either creating the instance with `manager := infra.Manager

[2020-07-03 21:14] LCaparelli commented on #109
`infra.Manager` is actually the interface, but from context I assume you meant something like `manager := networking.Manager{}`. I agree that this reduces clarity for the user to a certain degree, but that user would soon see he can't do much with that empty struct. Also, this seems to be a pretty common pattern. See [apimachinery's implementation](https://github.com/kubernetes/apimachinery/blob/m

[2020-07-04 16:14] ricardozanini commented on #109
OK, go ahead! :)

[2020-07-07 12:27] #109 closed

[2020-07-07 18:00] LCaparelli opened #111 "Remove unnecessary nil checks from unexposed methods/functions"
Nil checks like the following make the code more obscure with no real benefit (`pkg/controller/nexus/resource/networking/route.go`):

[code]

`routeBuilder` is not an exposed type, so having `r == nil` here would imply there is a bug in our code. Returning an error here only masks this bug further as the upper functions will not attempt to recover from this error. Removing this will improve code r

[2020-07-08 10:02] #111 closed

[2020-07-08 16:11] #101 closed

[2020-07-09 12:04] LCaparelli opened #116 "Let incorrect usage of the exposed API panic"
The methods exposed by the resource managers have checks to make sure the struct has been correctly initialized and return an `error` if not. For example, in `pkg/controller/nexus/resource/deployment/manager.go`:

[code]

These don't go in line with the error-handling philosophy in Go. The `error` type exists to report errors which are expected, possible outcomes of a correct usage of the function

[2020-07-10 10:24] #116 closed

[2020-07-14 10:16] ricardozanini opened #124 "OLM integration is failing to parse manifests in the PR checks"
**Describe the bug**
OLM integration is failing to parse our manifests:

[code]

**To Reproduce**
All new PRs are failing in this step

**Environment**
Github Actions CI

[2020-07-14 11:34] ricardozanini commented on #124
Might be related: https://stackoverflow.com/questions/58611481/why-does-operator-courier-verify-complain-about-mismatched-versions

@Kaitou786 FYI

[2020-07-14 21:00] #124 closed

[2020-07-17 20:54] ricardozanini opened #129 "When exposing Nexus via NGINX Ingress on Kubernetes, users might see 413 request entity too large error"
**Is your feature request related to a problem? Please describe.**
When users deploy Nexus and try to `mvn:deploy`, a 413 error might happen since the default NGINX Ingress is not correctly configured. Would be nice to deploy a ConfigMap with it to address this problem and let users to adjust the request size as their needs. Example:

[code]

**Describe the solution you'd like**
Add a ConfigMap to

[2020-07-17 20:56] ricardozanini commented on #129
@Kaitou786 FYI

[2020-07-20 10:13] Kaitou786 commented on #129
@ricardozanini  I think we can have a small section in README about it. As this would highly depend which kind of [ingress-controller](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/) was used. The above solution works with nginx ingress which is easily integrated with Minikube but not with other controllers. The data needs to be added in the configMap for the ingress

[2020-07-20 10:19] ricardozanini commented on #129
Have you managed to fix this error in your environment? Agreed to add a section in the README instead. The NGINX Ingress is the most common used on Kubernetes clusters, but not the only one, we can't cover all the scenarios. On the other hand, we can add a flag to the Networking interface for users to opt-in to use/indicate NGINX controller. I'll figure this out. We might be able to discover which

[2020-07-20 10:32] Kaitou786 commented on #129
Yes, I just tried adding this info in the configMap and it worked in my enviornment  =D. Need to check if there is option to have no limit when uploading the file. I tried with 500m it didn't work so I gave 1500m and it started working

[2020-07-20 11:22] Kaitou786 commented on #76
Should this be done? I mean we can cache the `quay.io/operator-framework/upstream-registry-builder:v1.5.6` as it is pinned down to the specific tag but the operator-testing image we are fetching the latest tag, if we cache it we might not have the latest updated image?

[2020-07-20 11:28] ricardozanini commented on #129
You have to use `m` because of the Resource `unit` type.

Perfect, then I'll add the CM if the Ingress is bound to a NGINX server.

[2020-07-20 11:31] ricardozanini commented on #76
We can have the cache to keep it for one day only. This is not a priority, tho.

[2020-07-20 11:54] Kaitou786 commented on #129
Great!

[2020-07-28 15:13] LCaparelli commented on #62
### Proposal
#### Nexus updates
We support two platforms: Openshift and Kubernetes.

On Openshift, we can levarage ImageStreams (#14), but we don't have a similar abstraction mechanism on Kubernetes. This means that on Kubernetes  we'll need to interact solely with the registry that provides the images.

Speaking of images, supporting custom images can quickly complicate matters as we cannot rely

[2020-07-29 17:20] LCaparelli opened #132 "Implement seamless upgrade for the community image"
**Is your feature request related to a problem? Please describe.**
In order to provide seamless upgrade capabilities (see #62) we must provide it for the community Nexus use case. This should support both Kubernetes and Openshift, though without using ImageStreams yet.

**Describe the solution you'd like**
When using the default community image, the Operator is able to automatically:
  - determine

[2020-07-29 18:24] ricardozanini commented on #132
I suggest to use the Kubernetes Events API and also set the Nexus CR a status capable to inform this.

[2020-07-29 20:04] LCaparelli commented on #132
Yup, that makes sense.

[2020-07-29 21:38] ricardozanini commented on #62
For this one, we use OLM that can also be installed on Kubernetes. Serious operator users should be aware - and use it. I won't add this feature (upgrade the operator on non-OLM scenarios) now.

[2020-07-29 21:39] ricardozanini commented on #62
ImageStreams can have multiple tags and we should keep the last 5. If something goes wrong, we just point to a previous tag.

[2020-08-03 14:34] LCaparelli opened #134 "Move CR default setting/validation logic to a separate package"
Currently logic for deaults and validation is distributed to each resource manager. This makes it difficult to use default values without creating import cycles and it complicates maintenance as there are several sources of logic which need to be taken into account when making changes.

If we keep all logic related to defaults and validation in a single package (`pkg/controller/nexus/resource/vali

[2020-08-05 14:59] #134 closed

[2020-08-09 20:39] ricardozanini opened #136 "Follow up #5: Accept custom secret with Nexus credentials to be used instead of default admin"
**Is your feature request related to a problem? Please describe.**
From 0.3.0 we will create the Nexus user and perform some operations in the Nexus server with the REST API. The first interaction needs the default Nexus credentials, which can be viewed as a bad practice. Would be nice to accept a secret with the credentials of a custom admin user for the operator to use instead.

**Describe the s

[2020-08-10 20:18] LCaparelli opened #137 "Deployments are deemed different even if there are no changes in the Nexus CR"
**Describe the bug**
Deployments are deemed different even if there are no changes in the Nexus CR. This is due to the server setting default values we don't touch when creating the Deployment and the default comparator running `reflect.DeepEqual()` on the Deployment spec.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce a CR which does not set the image Pull Policy
2. Observe the log

[2020-08-13 22:00] #137 closed

[2020-08-17 10:00] #5 closed

[2020-08-22 18:48] ricardozanini opened #140 "Upgrade to Operator SDK 1.0.0 and new Manifest Bundle"
OpensShift 4.6 requires a new manifest bundle for operators and upgrading to SDK 1.0.0 will help with this change.

[2020-08-22 18:50] ricardozanini opened #141 "Handle conflict updates when updating Nexus CR"
There's a lot of conflict errors in the logs, we should handle this when updating our own CR during reconcile loop. Ideally, we should update only the `status` attribute, and if we need to update the CR, handle conflicts errors.

[2020-08-23 16:42] #141 closed, assigned to ricardozanini

[2020-08-24 13:18] LCaparelli opened #143 "Make logs prefixed with the namespace and name of the Nexus being reconciled"
**Is your feature request related to a problem? Please describe.**
It gets confusing when multiple Nexus instances are being managed in the same cluster or namespace.

**Describe the solution you'd like**
SSIA

**Describe alternatives you've considered**
Modifying the logger to hold the name of the Nexus instance. When it's nil, don't add the prefix.

**Additional context**
N/A

**Would you be abl

[2020-08-24 13:30] LCaparelli commented on #106
@ricardozanini @Kaitou786 the article got updated:

So that argument that seemed like a bit of was stretch was probably a stretch. In any case I still believe only good will come from this change and we should move forward with it.

[2020-08-24 15:02] ricardozanini commented on #106
+1
I need to update this as soon as I have the time. At least for 0.3.0.

[2020-08-26 16:25] LCaparelli opened #144 "Make the pr-prep script check git status before pushing"
When you run `make pr-prep`, it might bring new changes (CSV, license headers, etc.). It would be nice if the script checked the output of `git status` and prompted the user to add a new commit or add these changes to the previous commit.

Not setting a milestone as it does not affect releases.

[2020-08-27 13:17] #132 closed

[2020-08-27 13:17] #62 closed

[2020-08-27 16:28] ricardozanini opened #146 "Upgrade to Operator SDK latest 0.x version"
Seems that 1.0.0 might have some issues and we are about to launch 0.3 in a couple weeks, won’t have time to upgrade and run all the tests.

Let’s stick with the latest 0.x for now to remain with the structure that we have today.

[2020-08-29 18:37] ricardozanini commented on #106
PR merged, now we need to get rid of master post 0.3 release.

[2020-09-01 12:57] ricardozanini commented on #146
Pushing to further away, 0.3.0 needs to be launched ASAP.

[2020-09-04 18:52] LCaparelli opened #148 "Re-design the tag fetching mechanism"
Currently, the tags are fetched using `github.com/heroku/docker-registry-client/registry`, which does not export its client as an interface. This means we can't easily mock a client by simply implementing an interface, which would come in very handy for testing.

We could wrap their client into an interface of our own and use that for production code as well as in testing, thus allowing us to crea

[2020-09-07 14:49] ricardozanini opened #149 "Add Maven Public repository URL to the Nexus CR Status"
**Is your feature request related to a problem? Please describe.**
Add Maven Public repository URL (internal and external) to the Nexus CR Status

This URL can be grabbed from the deployed Nexus instance after deploying it. The internal URL should be pretty straightforward since it's basically the Kubernetes Service deployed by the operator. Refer to the Kubernetes documentation for more informati

[2020-09-16 14:39] LCaparelli opened #151 "Correct mention of Ingress Controllers on CSV"
We mention we deploy an Ingress Controller in our CSV:

[code]

However we really only deploy ingresses, no ingress controllers. This needs to be changed on the next release's CSV.

[2020-09-17 17:01] tibcoplord opened #152 "Install instructions on operator hub no-longer work"
**Describe the bug**

Following the instructions at https://operatorhub.io/operator/nexus-operator-m88i/alpha/nexus-operator.v0.3.0 no-longer works ... at least with docker desktop on the mac.

**To Reproduce**

With fresh kubernetes

curl -sL https://github.com/operator-framework/operator-lifecycle-manager/releases/download/0.16.1/install.sh | bash -s 0.16.1
kubectl create -f https://operatorhub.

[2020-09-17 21:45] ricardozanini commented on #152
Hi @tibcoplord
Many thanks for reaching out!

Your Nexus instance supposed to be created in the same namespace, `my-nexus-operator-m88i`. The operator does not watch all namespaces any more, we are going to change that for 0.6. Can you try installing the Nexus instance in the same namespace which the operator is installed?

Sorry for the late reply, just come to my attention now.

[2020-09-17 22:04] LCaparelli commented on #152
Hi @tibcoplord thanks for bringing this to our attention!

I was unable to reproduce running minikube on Linux. Take with a grain of salt due to the platform differences, but please have a look at the steps I took and let me know if you did anything differently. This was done on a fresh minikube VM.

[code]

[2020-09-18 05:37] tibcoplord commented on #152
Yes, installing in my-nexus-operator-m88i works.  So at least the example yaml on operator hub needs to be updated with that.

Thanks!

[2020-09-18 05:42] tibcoplord commented on #152
Yes, this works for me as well.  Its a change thats not mentioned on the operator hub.

It makes quite a difference to my install  - I need to go through and update all the hostnames that reference the nexus instance since I can no-longer run nexus in the current namespace.  This changes especially hurts since the previous version is no-longer available.

[2020-09-18 09:54] ricardozanini commented on #152
@tibcoplord do you mind sharing how do you use and install the operator? I can send an update to have this back.

If you have one Nexus instance installed and the operator in another namespace, you would have to install it in the same namespace.

You could use our installation script to install it if you don’t need OLM to be installed in your cluster.

[2020-09-18 10:09] ricardozanini commented on #152
Nevertheless, I've sent a PR to add this setup back: https://github.com/operator-framework/community-operators/pull/2355

If we can't modify the current version, I will upgrade to 0.3.1 if that helps, @tibcoplord

[2020-09-18 10:15] tibcoplord commented on #152
Its actually pretty straightforward :

* Start nexus instance in namespace "fred"
* Add artifacts to nexus
* Start application in namespace "fred"
* Application accesses nexus via http://nexus/...

ie using a hostname local to the namespace ( since both are in the same namespace ).

[2020-09-18 12:02] ricardozanini commented on #152
But in this setup the operator is installed in the namespace "fred"?

We should get this feature back soon, the PR has been accepted.

[2020-09-18 12:03] #144 closed

[2020-09-20 01:05] LCaparelli opened #154 "Allow remote installation"
Today users who would like to install the Operator without OLM would use the steps described in our [quick install guide](https://github.com/m88i/nexus-operator#quick-install). While it works great, the user must have the project's files locally, as it uses our Makefile which in turn runs the actual [installation script](https://github.com/m88i/nexus-operator/blob/main/hack/install.sh) (which *als

[2020-09-21 12:42] erkkikeranen opened #155 "A fresh operator install on openshift okd can't start a nexus service"
**Describe the bug**
When I try to provision a nexus, the nexus pod tries to start, and fails:

[code]
Also, storage is in provisioning state.

**To Reproduce**
Steps to reproduce the behavior:
Provision a new nexus.

**Expected behavior**
A nexus is provisioned.

**Environment**
Openshift OKD 4.5.0-0.okd-2020-09-18-202631 running on Azure (Installer provisioned)
Nexus Operator 0.3.0 provided by m

[2020-09-21 12:49] ricardozanini commented on #155
Hi @erkkikeranen!

Many thanks for reaching out. This is because the Nexus community image required the user ID `200` to run and OKD/OpenShift does not allow this user ID to run on a container by default due to security reasons.

You would need to create a specific SCC under this namespace, please follow the directions here:
https://github.com/m88i/nexus-operator#openshift

Can you let me know if

[2020-09-21 18:22] LCaparelli commented on #152
@tibcoplord we've added back the option to manage multiple namespaces. Would you mind following the install instructions from [Operator Hub](https://operatorhub.io/operator/nexus-operator-m88i) again and letting us know if your previous method of deployment is back to working as expected?

[2020-09-21 20:42] tibcoplord commented on #152
Many thanks for the update - much appreciated.

I see the same image issue - https://quay.io/repository/operatorhubio/nexus-operator-m88i?tag=latest&tab=tags doesn't have 0.3.0.  Maybe syncs just take a bit of time.

[2020-09-21 20:46] ricardozanini commented on #152
Yeah, something might went wrong, I'll try to contact them

[2020-09-22 12:13] LCaparelli commented on #152
@tibcoplord it seems it synced up a couple of hours ago. I just tested on my minikube and things are looking good. Can you let us know if things at your end got fixed too?

[2020-09-22 12:34] ricardozanini commented on #152
Oh, actually was not synced, was manually fixed. :)

Looks like we can't change the manifest in the same version.

[2020-09-22 12:53] tibcoplord commented on #152
Yep ... back working again for me.

Many thanks for your prompt fix !

[2020-09-22 14:29] erkkikeranen commented on #155
ok, sorry didn't read the manual, just relied on the operator experience :)

Thanks, problem solved, works!

[2020-09-22 14:29] #155 closed

[2020-09-22 14:30] ricardozanini commented on #152
Thanks for the feedback, @tibcoplord! I'm closing this one.

[2020-09-22 14:30] #152 closed

[2020-09-22 21:15] ricardozanini opened #156 "When deploying Nexus with Red Hat image on OpenShift, deployment get stuck in the operator reconciliation loop"
**Describe the bug**
When deploying a Nexus server with the operator on OpenShift using Red Hat image, the operator enters in a infinite reconciliation loop:

[code]

This is because the `PodSecurityContext` comparison is failing.

**To Reproduce**
Install the default Nexus CR in an OpenShift cluster with the attribute `useRedHatImage: true` and no persistence.

**Expected behavior**
The Nexus ser

[2020-09-22 21:25] #106 closed

[2020-09-23 00:46] LCaparelli opened #157 "Server operations don't work when the Nexus CR is in a different namespace"
**Describe the bug**

Server operations don't work when the Nexus CR is in a different namespace and fail due to a name resolution failure:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install via OLM following the steps in [Operator Hub](https://operatorhub.io/operator/nexus-operator-m88i)
2. Create a separate namespace:

[code]

3. Install a CR in that namespace:

[code]

4. Chec

[2020-09-23 20:18] LCaparelli opened #158 "Tighten up the Role permissions"
Currently our role has access to a lot of resources it doesn't really manipulate as a result of previous problems which no longer exist. We should "clean" it up, reducing the surface area of operations allowed for our service account and thus improving security.

Currently we have:

[code]

[2020-09-24 14:08] #151 closed

[2020-09-25 00:27] LCaparelli commented on #158
Dug around a bit today. I kept all resources we manipulate directly with all permissions and removed the others. Then I added permissions back as necessary while running all of our examples on minikube and minishift, ended up with this:

[code]

Openshift had more needs than K8s, so I'm a bit concerned if OCP 4+ has more requirements which are not taken into account here. I can't run CRC, so I'd n

[2020-09-25 01:52] ricardozanini commented on #158
Yes sure! I'll fix that other issue regarding the reconciliation on OCP, I can test this one. Hopefully we will merge this one tomorrow. :)

So I can test with the real thing!

[2020-09-26 21:26] #158 closed

[2020-09-26 22:00] ricardozanini opened #161 "Nexus Operator as a Cluster Scoped Operator"
**Is your feature request related to a problem? Please describe.**
On version 0.3.0, Nexus Operator is a namespaced operator, meaning that it needs to be installed on every namespace in a cluster or in the same namespace where the Nexus CR is deployed. We would leverage from the new SDK upgrade if Nexus Operator could be installed in one namespace, let's say `operators` and would watch every names

[2020-09-28 17:26] LCaparelli commented on #51
Re-opening as we'll be able to create the SCC after #161

[2020-09-28 23:34] #156 closed

[2020-09-30 14:59] LCaparelli commented on #157
Better wait for #161 so this can be properly tested

[2020-10-04 19:03] ricardozanini opened #167 "Migrate GH Actions to use env files instead of set-env"
We are using a deprecated command on our PR check CI.
See: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-10-05 02:47] sowmiyamuthuraman commented on #167
@ricardozanini I would like to give this a try.

[2020-10-05 14:45] LCaparelli opened #169 "Upgrade golangci-lint GH action to solve CVE-2020-15228"
Currently we get warning on our CI about deprecated commands. One of them is dealt with in #168, but the remaining 3 warning come from golangci-lint.

I filed https://github.com/golangci/golangci-lint-action/issues/103 in order to track this as I couldn't find an existing issue or release that solves this. This is blocked on their end until a new release there and we should update `.github/workflo

[2020-10-05 14:51] #167 closed

[2020-10-05 14:58] ricardozanini commented on #169
You mean in **their** end?

[2020-10-05 15:02] LCaparelli commented on #169
Yes, I do lol

Thanks, edited o/

[2020-10-06 19:46] LCaparelli opened #171 "Add goimports to hack/go-fmt.go"
[goimports](https://godoc.org/golang.org/x/tools/cmd/goimports) is meant to be a replacement for `gofmt`. Right now [it's not a perfect drop-in replacement](https://github.com/golang/go/issues/21476) for it, but we may still get the best of worlds by running both in `hack/go-fmt.sh`.

As `goimports` is not as common as `gofmt`, it's probably a good idea to make sure the binary is present, similarl

[2020-10-06 21:10] #171 closed

[2020-10-07 04:46] Kaitou786 commented on #169
We can remove the action and do the golangci-lint check by running its binaries?(Downloading it's executable and running the linters), this way we will remove any warnings :)

[2020-10-07 12:46] LCaparelli commented on #169
Definitely an option too. I'd prefer waiting for the action for a few more days though, allows us to maintain less stuff.

[2020-10-07 13:46] #143 closed

[2020-10-07 14:02] Kaitou786 opened #173 "Add golint linter as part of hack/go-lint.sh"
**Describe the bug**
Currently we check our code with golangci-lint, which in itself catches most of the things, but having comments over exported function is not caught by it, it'll be nice to enable both the linters. Currently there are some warnings by this linter on the main branch

**To Reproduce**
Run: `golint ./... | grep -v  zz_generated` #to ignore the auto-generated files

**Expected beh

[2020-10-08 20:17] ricardozanini commented on #129
@Kaitou786 I'm considering to close this issue since it's a NGINX Ingress specific configuration, also the deployed CM on `kube-system` can address this configuration, right? The config you added was in this CM or you created a  new one?

[2020-10-08 20:21] ricardozanini commented on #146
Migrating to 1.0.0 direclty, see #140

[2020-10-08 20:22] #146 closed

[2020-10-08 20:53] #154 closed

[2020-10-08 20:53] #157 closed

[2020-10-08 20:53] #161 closed

[2020-10-09 03:00] Kaitou786 commented on #129
Yes,the configuration was added to the CM that was created by the add-on in minikube. i just edited that to add the data field

[2020-10-09 11:49] ricardozanini commented on #129
Ok, I'll close this one then.

[2020-10-09 11:50] #129 closed

[2020-10-09 15:11] ricardozanini opened #174 "Use Admission Webhooks to set default values and validate to Nexus CR"
We might need to get rid of the `validation` package or call it via Admission Webhooks after #140

See: https://sdk.operatorframework.io/docs/building-operators/golang/webhooks/

[2020-10-16 13:27] #140 closed

[2020-10-16 14:27] #169 closed

[2020-10-18 19:31] LCaparelli opened #178 "Move discovery to a separate package"
Currently discovery feels a bit awkward to use within the controller logic as each function must carry and pass around the `DiscoveryInterface` interface as argument whenever a call further down needs it, such as when resource managers need discovery:

https://github.com/m88i/nexus-operator/blob/8bcda688a3039c1672b4cf07e6e0ff7a97a20484/controllers/nexus/resource/resources.go#L55-L58

We could avoi

[2020-10-18 22:58] LCaparelli opened #180 "When available, use networking.k8s.io/v1 API version for Ingresses"
**Is your feature request related to a problem? Please describe.**
`networking.k8s.io/v1beta1` is deprecated in Kubernetes v1.19+ and running the operator in more recent clusters runs into:

`W1018 19:47:08.954666   14552 warnings.go:67] networking.k8s.io/v1beta1 Ingress is deprecated in v1.19+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress`

**Describe the solution you'd like**
It would

[2020-10-21 13:22] #178 closed

[2020-10-23 12:53] #149 closed

[2020-10-28 20:00] LCaparelli opened #183 "Redesign resource managers implementation"
We should redesign resource managers implementations to make better use of first-class citizenship of functions in Go. This would allow us to concentrate much of the manager-specific business logic during its initialization (opposed to spreading them across multiple methods).

This could possibly also allow us to raise any necessary errors during initialization and remove errors from other methods

[2020-10-29 19:20] #180 closed

[2020-10-30 14:27] #59 closed

[2020-11-01 14:35] ricardozanini opened #186 "[blocker] Nexus Deployment stuck on OpenShift 4.x"
**Describe the bug**
When trying to create a simple Nexus3 instance with the example "CentOS No Persistence", I got:

[code]

It's stucking in the deployment creation.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the operator with the `nexus-operator.yaml` file
2. Deploy the example "CentOS No Persistence"

**Expected behavior**
Deployment and other resources to be created

**Envir

[2020-11-01 14:38] ricardozanini commented on #186
This same error happens to whatever resource we try to create:

[code]

[code]

Not only deployments.

[2020-11-01 15:44] LCaparelli commented on #186
Looks like we need to add permissions for finalizers.

It's strange, because we already have permissions to use the `update` verb in`deployment/finalizers`, see [this](https://github.com/m88i/nexus-operator/blob/main/controllers/nexus_controller.go#L70). Perhaps that's not enough on newer OCP versions? Not sure why though.

We should be able to slowly add the permissions (the API object is in the

[2020-11-01 15:49] ricardozanini commented on #186
Not sure if it's a problem in the permissions or the way we are defining the owner and the options for the finalizers for each resource. I'll take a look later. 🤤

[2020-11-06 22:05] ricardozanini commented on #186
SDK 1.0.1 left this behind in their docs:
https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/#specify-permissions-and-generate-rbac-manifests

Here are more details about this problem:
https://github.com/operator-framework/operator-sdk/issues/3477

[2020-11-07 23:58] #186 closed

[2020-11-09 10:35] tibcoplord opened #190 "Upgrade to use kubernetes api v1"
**Describe the bug**
With recent kubectl we see warnings about using deprecated CustomResourceDefinition and ClusterRole beta apis.  We should upgrade to v1.

**To Reproduce**

[code]

**Expected behavior**
No warnings generated

**Environment**

[code]

[2020-11-09 13:59] ricardozanini commented on #190
Hi @tibcoplord!

Thanks for reporting! Yes, we are targeting this upgrade to 0.5.0 since we would like to still give support for old clusters like OpenShift 3.11. 0.4.0 is now cluster scoped, so it's a good feature to have for everyone out there.

Is this blicking you to use the operator?

Thanks again!

[2020-11-09 14:22] tibcoplord commented on #190
No .. I just spotted it so thought best to report.

[2020-11-09 14:30] ricardozanini commented on #190
Sure! Many thanks for reporting it :)

[2020-12-01 08:32] bszeti opened #191 "Pod fails to start after modifying the Nexus resource"
**Describe the bug**
Modifying the Nexus resource triggers a new Deployment, but the new Pod can't start (CrashLoopBackOff) because the previous one is still holding the /nexus-data/lock. The problem is probably cause by the Deployment using spec.strategy=RollingUpdate. Using "Recreate" may help, so previous Nexus instance is shut down before the new one is created.

**To Reproduce**
Steps to repr

[2020-12-01 13:34] ricardozanini commented on #191
Hi @bszeti ! Thanks for filling this bug. I'll take a look at it today. That one could be tricky since we have some use cases that `RollingUpdate` would be a better fit. @LCaparelli any issues regarding the update scenario?

[2020-12-01 14:59] LCaparelli commented on #191
Hey @bszeti thanks for raising the issue. As @ricardozanini mentioned the `RollingUpdate` option is a better fit for the way automatic updates are handled, so that your current deployment is not unavailable while the updated deployment is still being performed.

@bszeti can you please provide how you installed the operator and what version you're running? Along with that, please also share the out

[2020-12-01 15:13] ricardozanini commented on #191
@LCaparelli I believe he also has a PV updated with some information. That way, Nexus will lock the data directory, preventing the rollingupdate.

If this is the case, we must change to "Recreate", since even for updating we won't be able to do it with the data folder locked. Or at least, signal to the server to unlock the data directory before performing the update.

[2020-12-01 15:16] LCaparelli commented on #191
@ricardozanini So if I enable persistence I should run into this issue, right? Let me give that a swing

[2020-12-01 15:36] LCaparelli commented on #191
Ah yes, indeed. I have reproduced the same issue. Simply using `Recreate` when persistence is enabled would do the trick, but would bring availability issues for automatic updates with persistence. I'll give it some further thought, perhaps there's a way to deal with this without negative outcomes.

At the moment no action from you is requested @bszeti, thanks again for reporting it. :-)

<details

[2020-12-01 15:38] bszeti commented on #191
Hi, Thanks for looking into this.

Yes, of course the issue only shows up if you use persistence. Nexus has a lock file, so the new Pod can't start until the old one is running. (By the way isn't this a problem is  Nexus replicas is greater than one??)

Install operator:
[code]
apiVersion: apps.m88i.io/v1alpha1
kind: Nexus
metadata:
  name: nexus3
spec:
  resources:
    limits:
      cpu: '2'

[2020-12-01 19:08] ricardozanini commented on #191
Hi @bszeti, yes it's a problem. Only horizontal scaling is supported at this time until we implement #61
I'll also take a look into the Nexus documentation to see if I can figure out another workaround for this problem.

[2020-12-02 14:16] LCaparelli commented on #174
This has some unforeseen complications.  The current state of implementation reworks a lot of our design in order to move the admission logic into the `v1alpha1` package (see [this issue](https://github.com/operator-framework/operator-sdk/issues/4249)).

In addition to that, mutating and validating webhooks require TLS termination, which in turn requires us to serve a TLS certificate. [Kubebuilder

[2020-12-02 14:24] ricardozanini commented on #174
@LCaparelli I believe we can add `cert-manager` as a dependency of ours instead of copying their behavior. I think that what you said:

It's super ludic and we should commit to the best practices whenever is possible. Since they recommend that, why not? :)

Question: if cert-manager is not installed, the operator stops working? Do we depend on it code-wise (I believe we do not)? Or we will just ac

[2020-12-02 14:59] LCaparelli commented on #174
+1, I actually thought you wouldn't want to add it as dependency. Cool then, the implementation is almost finished then (since the scaffolding for this is already performed by kubebuilder), just need to test it more.

It stops working in the sense it will run into nil dereference if pointer fields are not correctly set, for example the probes. Without the webhooks in place, the user MUST supply a

[2020-12-02 15:06] ricardozanini commented on #174
I don't see a problem if we state that in the documentation.

[2020-12-02 17:39] LCaparelli commented on #174
Ugh, sorry. I was wrong. The container will not start without cert-manager because it requires a secret containing the TLS cert. This is part of the webhooks scaffolding.

Additionally, the scaffolded code in `main.go` which registers the webhook exits if that fail, but we could easily control this with an env variable (Don't register the webhook if `USE_WEBHOOKS==FALSE`)

We'd need to provide an

[2020-12-02 17:44] ricardozanini commented on #174
I don't think so. We can also add to the doc how to install the operator without the cert-manager dependency. One of the steps is to change the deployment to add the environment variable `USE_WEBHOOKS`.

But can't we be smart and just ignore the cert-manager if it's not there?

[2020-12-02 17:56] LCaparelli commented on #174
To be clear: let's not create a custom `operator.yaml`, but let's create a `USE_WEBHOOK` env var which can control whether the hooks should be registered. This variable will be set by users experimenting with our operator and we will document the necessary changes to the deployment in order for this to work.

No, because kubebuilder inserts this secret mount in the deployment itself, present in `n

[2020-12-02 18:42] ricardozanini commented on #174
Where are you going to set the `USE_WEBHOOKS` env then? In the installation script? Since this is generated by kubebuilder directly in our `deployment.yaml` file, I don't think we will be able to do anything after that.

I think I need to take a look at Knative to see how they do there.

[2020-12-02 18:50] LCaparelli commented on #174
What I'm proposing is:

  1. for regular installations, pull in cert-manager as a dependency.
  2. if the user just wants to give it a swing, without cert-manager, we document the perils of doing this and the modifications they need to perform to the deployment (including removing the secret volume mount and adding the environment variable). To do this, they can't use OLM as changes to the deploym

[2020-12-02 19:18] ricardozanini commented on #174
I think it's better to just generate an `operator.yaml` file without the cert-manager then :/
Too much trouble for users that just want to try the operator.

[2020-12-02 19:38] LCaparelli commented on #174
Ok, but you mean a separate one, right? Not changing the one generated by kubebuilder and goes into the CSV.

[2020-12-02 20:27] ricardozanini commented on #174
yes, definitely a separate one.

[2020-12-10 04:07] Kaitou786 opened #193 "Switch to current testing suite by OLM"
The OLM has changed its integration test that it runs on the operator, we should also switch to the latest testing suite. See:  https://github.com/operator-framework/community-operators/blob/master/docs/using-current-test-suite.md

[2020-12-10 04:07] Kaitou786 commented on #193
@ricardozanini here, will work on it this weekend :)

[2020-12-14 16:50] #191 closed

[2020-12-20 05:17] Kaitou786 commented on #193
@ricardozanini how do you propose we solve the CSV problem here, maybe using [Github Packages](https://docs.github.com/en/free-pro-team@latest/actions/guides/publishing-docker-images#publishing-images-to-github-packages) as you initially suggested?
@LCaparelli just a bit of context, the new test does everything in a single command so they'll setup the kind cluster and use the image defined in CSV,

[2020-12-23 17:12] LCaparelli opened #197 "Upgrade to operator-sdk v1.3.0"
https://github.com/operator-framework/operator-sdk/releases/tag/v1.3.0

[2020-12-23 17:31] LCaparelli opened #198 "Upgrade to Go v1.15.6"
https://golang.org/doc/install

[2020-12-24 13:30] LCaparelli commented on #197
Ran into some dependencies issues with operator-utils after migrating to v1.3.0, filed [an issue there](https://github.com/RHsyseng/operator-utils/issues/78). Moving this to v0.6.0.

[2020-12-24 13:30] LCaparelli opened #199 "Upgrade to operator-sdk v1.2.0"
https://github.com/operator-framework/operator-sdk/releases/tag/v1.2.0

[2020-12-25 23:41] titou10titou10 opened #200 "OpenShift: Allow to configure "host" in the "route" manifest"
The title says it all

Currently there is no way to configure the "host" variable in the OCP`Route`. It is possible when nexus is exposed via an`Ingress`

Maybe the usage of the "host" parameter, mandatory for`Ingress`, could be extended as optionnal for`Route` host name?

**Would you be able to assist in testing this feature if implemented?**
yes

[2020-12-26 03:13] titou10titou10 opened #201 "Provide a way to specify a separate PVC for the blob store"
The operator allows to specify only one PVC for the whole installation

As a nexus repository administrator, I would like to have the possibility to specify a specific PVC for blobs (mounted in`"/nexus-data/blobs"` or elsewhere), distinct from the nexus installation. This for many reasons, including data size, storage speed, different backup specs etc.

**Would you be able to assist in testing thi

[2020-12-26 21:39] LCaparelli commented on #200
@titou10titou10 thanks for the request! I agree it would be a nice addition.

@ricardozanini should be as simples as setting `spec.image` on the route definition, any objections?  :-)

[2020-12-26 22:03] LCaparelli commented on #201
Thanks for this as well @titou10titou10, also looks like a good one.

We can manipulate blob store config via the [REST API](https://help.sonatype.com/repomanager3/rest-and-integration-api/blob-store-api). This is something we'd deal with at [m88i/aicura](https://github.com/m88i/aicura), but from what I read in [doc](https://help.sonatype.com/repomanager3/high-availability/configuring-blob-stores)

[2020-12-26 22:26] titou10titou10 commented on #201
@LCaparelli the question is not about creation blobs store in nexus or disabling the creation of the default one, the question is to be able to have the possibility to create extra PVC via the operator to held multiple blob store, or at a minimum (my request), mount the $data-dir/blobs directory in a PVC separated from the general PVC

There are backup tools, like [velero](https://velero.io/), tha

[2020-12-26 22:49] LCaparelli commented on #201
Sorry @titou10titou10 , seems that I was not clear in my previous comment.

Yes, I agree we should allow users to specify additional stores. Quick research indicates this should be achievable, but I was concerned with whether keeping the default store intact would be a problem. The reason why I also mentioned the REST API is because thought it would be nice if the store config was automatically cr

[2021-01-05 13:42] #198 closed

[2021-01-05 13:42] #199 closed

[2021-01-11 15:47] ricardozanini commented on #200
@LCaparelli not at all, go ahead if you will! :)
@titou10titou10 many thanks for opening this, sorry for the delayed reply. (vacations and so on :hear_no_evil:)

[2021-01-11 15:53] ricardozanini commented on #201
@LCaparelli this should be very simple to implement, actually. I'd say to add a new option in the `storage` attribute for the Nexus type with additional PVCs. So users could easily map/create whichever they want and attach to the Nexus server being deployed. I think we can work on both RFEs from @titou10titou10 for 0.6.0. wdyt?

[2021-01-11 17:04] LCaparelli commented on #201
My initial plan was to have the Operator also configuring the blob storage definitions on the Nexus server as well, not only associating the additional PVCs with the deployment. In hindsight, that might not be the best way forward: the core functionality here is to allow mounting additional PVCs.

Configuring blob stores (regardless of  additional PVCs or not) would be a better fit for a separate

[2021-01-11 18:29] ricardozanini commented on #201
I think I'll add additional PVCs to the interface to allow use case likes this and then we can open a follow up issue to use the API instead and configure blobs. But I'd rather wait to see more concrete use cases for the API usage as well.

[2021-01-11 18:30] ricardozanini commented on #201
Related documentation: https://help.sonatype.com/repomanager3/repository-management/storage-guide

[2021-01-14 08:23] lexxy23 opened #203 "Rolling update cannot continue due to Multi-Attach error"
**Describe the bug**
I am using the nexus operator, and I want to use the auto update mechanism of it. However, when I enabled the auto update, it is failing due to:

Normal   Scheduled           <unknown>                                     Successfully assigned storage/nxs-5956679dff-s8m9z to hnode1         │
│   Warning  FailedAttachVolume  8m26s                attachdetach-controller  Multi-At

[2021-01-14 11:32] LCaparelli commented on #203
Hi @lexxy23, thanks for reaching out!

This looks like the same scenario as #191, please consider having a look at that one if you can.

Using ReadWriteOnce would fix one of the problems here, but ultimately still wouldn't allow for a rolling update when persistence is enabled because the older Nexus server will still be holding a lock file in the mounted filesystem, preventing the newer Nexus fro

[2021-01-15 07:37] lexxy23 commented on #203
Hi, Lucas,

sounds great 👍  I will check the manual installation.

Thank you.

[2021-01-15 07:37] #203 closed

[2021-01-20 19:14] bdurrow commented on #200
@LCaparelli, I don't understand your comment about `spec.image`, this would be `spec.host`.

To mention a few more related things that are not quite working properly:
- When the nexus operator creates an openshift route from a nexus.apps.m88i.io CRD there are several listed  "Resources" including the deployment, pod, service etc.  The route is not included in this list.  I have spent some time try

[2021-01-26 23:32] LCaparelli commented on #200
Hey @bdurrow thanks for your interest!

Absolutely, brain hiccup on my part. Thanks for pointing it out, I did mean `spec.host` :-)

Could you please elaborate on this? I'm not sure which list you're mentioning, but it sounds like routes should be there too. Perhaps the exact command and output where you see this could help.

I was not aware of this behavior of OCP routers, where even if you chang

[2021-01-27 12:32] ricardozanini commented on #200
@bdurrow @titou10titou10, like @LCaparelli, said we are working on the possibility of not updating the created Routes during the reconciliation loop. This is because the Route object can be highly customizable and cumbersome to keep track of all the user changes in our CR/controller. It would be better to let the Route controllers take care of it.

That said, our controller will:

1. Create the "d

[2021-04-13 12:10] ibotty opened #204 "Feature request: allow setting settings in nexus.properties (feature flags, etc)"
**Is your feature request related to a problem? Please describe.**
Feature Request to make  it possible to set properties traditionally set in a nexus.properties file.

It would be great have a setting in the CRD where one could set them.  But any way would be fine.

I need the feature flag `nexus.conan.hosted.enabled=true` (from https://issues.sonatype.org/browse/NEXUS-23629).

[2021-04-22 13:52] ricardozanini commented on #204
Hi! Thanks for opening this issue! I need to wrap up some issues to release 0.6. I'll definitely add this one to the planning.
What about a configMap mapped to this property file?

[2021-04-22 16:59] ibotty commented on #204
A `ConfigMap` would work as well.

[2021-05-28 07:42] ibotty commented on #204
No pressure, but do you have an estimate on when v0.6.0 with that feature might be released?

I might find time to add the feature myself if you could give me a hint on where to start and what's necessary.  I am not familiar with OperatorSDK.

[2021-05-28 07:50] ibotty commented on #174
Pretty late to the party, but for some environments there are other ways to get a valid certificate (for some definitions of valid), e.g. on OKD/OpenShift: https://docs.okd.io/latest/security/certificates/service-serving-certificate.html
It would be great to easily omit the dependency on these kubernetes deployments.

[2021-05-28 19:17] andrey-yakubovskiy opened #205 "Provide a way to specify user-defined ingress annotations"
**Is your feature request related to a problem? Please describe.**
Currently, it's not possible to define custom annotations for ingress object.

**Describe the solution you'd like**
It should be possible to add user-defined annotations to ingress object. For example, to configure oauth2, whitelist source ips, etc.

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would

[2021-05-31 13:32] ricardozanini commented on #204
Hey @ibotty! I'm currently working on it. We will probably ship 0.6.0 with only this feature for you :)
I'll have more to share by the end of the week.

[2021-05-31 18:09] ibotty commented on #204
Uiuiui.  I am flattered!  Looking forward to it.

[2021-06-02 21:19] ricardozanini commented on #76
Never happened again, closing,

[2021-06-02 21:19] #76 closed

[2021-06-02 21:20] ricardozanini commented on #12
Nexus 2 is too old, not sure if we have the resources to do it now.

[2021-06-02 21:20] #12 closed

[2021-06-02 21:22] ricardozanini commented on #205
Relates #200

[2021-06-02 21:25] ricardozanini commented on #197
See: https://github.com/operator-framework/operator-sdk/releases

[2021-06-02 21:26] ricardozanini commented on #197
https://github.com/operator-framework/operator-sdk/releases/tag/v1.6.2 is a security release, so we should migrate.

[2021-06-02 21:31] ricardozanini commented on #14
Not sure if this one still valid might mess with our automatic updates.

[2021-06-02 21:31] #14 closed

[2021-06-02 21:35] ricardozanini commented on #204
Might help: https://blog.questionable.services/article/kubernetes-deployments-configmap-change/

[2021-06-03 13:03] ibotty commented on #204
Yeah,  I know about that feature.  That was missing (not only because of configmap changes).

[2021-06-04 13:02] ricardozanini commented on #204
Oh that's a reference for myself :)

[2021-06-06 14:40] LCaparelli opened #209 "Disable Ingress/Route updates"
**Is your feature request related to a problem? Please describe.**
Route and Ingress resources are usually highly configurable, often the need to change them rises. For example,  further configuration can be performed by webhooks, which gets undone by the Operator as soon as it detects these changes.

**Describe the solution you'd like**
I would like the operator to create these  resources for me

[2021-06-06 18:51] #205 closed

[2021-06-06 19:37] #200 closed

[2021-06-06 19:52] #201 closed

[2021-06-06 22:34] #209 closed

[2021-06-09 09:38] ibotty opened #211 "Allow installing plugins (kar) files"
I would like to install  nexus3 plugins.  Unfortunately I cannot mount another volume to `/opt/sonatype/nexus/deploy` to put plugins there.

**Describe the solution you'd like**
It would be great to have a declarative way to specify plugins in `nexus.apps.m88i.io` that nexus-operator would fetch, potentially update and deploy into nexus' `deploy` dir.

**Describe alternatives you've considered**
I

[2021-06-09 14:40] ricardozanini commented on #211
@LCaparelli, maybe with the recent changes of allowing additional mount paths could be reasonable as a workaround. At the same time, we do not provide this one in the CR? 'Cause updating the plugins automatically would be a huge plus. Not sure how to properly do it now. hahah

[2021-06-09 15:31] LCaparelli commented on #211
So, `spec.persistence.extraVolumes` should provide a way to mount these when we release 0.6.0 and I think that's a reasonable workaround too; that said, I agree it would be a great feature to provide a list of plugins and have the operator installing them automatically.

Need to properly research, but I don't see a way to configure plugins via the REST API, not sure if there are other ways to prog

[2021-06-09 19:43] ibotty commented on #211
I did not find any API in the docs.  In the OpenAPI definition I did not find anything either.  Sorry.  For me the upcoming `extraVolumes` looks ok.

[2021-06-10 12:10] ricardozanini commented on #211
Well, I guess we will have to create this API then, will be more work, but we at least enhance the Aicura project.

[2021-06-13 21:39] ricardozanini commented on #204
@ibotty are you able to test the feature if I build an image for you? See #212

[2021-06-14 08:56] ibotty commented on #204
Yes, but I am not sure exactly how, because I am running the operator from OLM, andI don't know how to actually use another image.  I will try to find a way though.

[2021-06-14 12:05] ricardozanini commented on #204
hmmm, you can [install it manually](https://github.com/m88i/nexus-operator/#quick-install) in a local environment and update the `Deployment` image with the one I'll build for you.

[2021-06-14 12:38] ibotty commented on #204
Well, yes.  I can certainly test it.

[2021-08-13 14:35] ricardozanini opened #213 "Update Nexus CR Status to use the Conditions API"
**Is your feature request related to a problem? Please describe.**
Right now we are not keeping the entire history of the CR status in the Nexus object, what we have is:

[code]

Although is interesting to reflect the internal `Deployment` status, ideally we would carry the conditions array ourselves. See an example: https://medium.com/swlh/advanced-kubernetes-operators-development-988edad5f58a (S

[2021-08-13 19:00] ricardozanini commented on #204
@ibotty sorry for taking so long, I have a limited time to work on this operator. Can you try in your environment? Just apply this file:
https://gist.github.com/ricardozanini/b59ebc4b5267ddcb91abcdf5e9d270d7

Please use a test environment where you don't have the Nexus Operator installed.

Also see #212 for further discussions. There's an update in the README explaining how to configure your Nexus

[2021-08-16 23:30] LCaparelli commented on #213
Some previous experience:
  - we should keep up to `n` previous conditions available, appending without end here will just clutter up the output of `kubectl describe` and others. We should remove older entries when adding new ones if this capacity is reached. This seems to be the behavior of native resources, at least.
  - this is a bit subjective, but IMO it makes sense to simply overwrite the ti

[2021-08-17 01:04] #204 closed

[2021-08-17 13:12] ricardozanini commented on #213
Yup. The idea is to have each condition in the array with the latest status and the status set to `true` for those we currently are. It's a state diagram-like implementation.

[2021-08-17 13:13] ricardozanini commented on #197
@LCaparelli are you able to work on this one?

[2021-08-17 14:27] LCaparelli commented on #197
@ricardozanini I can, will try to come up with something this week. Logging off from work pretty tired lately, sorry for the delay

[2021-08-18 10:08] ricardozanini commented on #197
Oh no worries. I can relate. Same thing here. No rush. As soon as we get this and the CRD version fix we can work on the release. :)

[2021-09-01 09:56] camilamacedo86 opened #214 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-01 11:51] ricardozanini commented on #214
Related https://github.com/m88i/nexus-operator/issues/190

[2021-09-04 19:32] ricardozanini commented on #214
@camilamacedo86 I had to use the following options to regen my CRD:

[code]

Note the `crdVersions` parameter. Just `trivialVersions` didn't work for me, controller-gen was still using v1beta1:

[code]

[2021-09-04 19:36] ricardozanini commented on #197
Pushing to 0.7.0 to release 0.6.0 right now and join Kube 1.22 release train.

[2021-09-05 08:37] camilamacedo86 commented on #214
Hi @ricardozanini,

I am happy that you could solve that. See that the above suggestion is with another version of the controller-gen and that might be the reason for it does not work for you:

Anyway, as described above it is hard to provide direct guidance and we hope that these steps can help out in the biggest part of the scenarios or at least help to figure out how to move forward.

Thank you

[2021-09-09 14:32] #214 closed

[2021-09-09 14:32] ricardozanini commented on #190
Fixed in #215

[2021-09-09 14:33] #190 closed

[2021-10-25 20:07] rafaeltuelho opened #216 "custom properties not applied to nexus.properties"
**Describe the bug**
Tried to apply custom properties following this example https://github.com/m88i/nexus-operator/blob/main/examples/nexus3-centos-no-volume-custom-properties.yaml
but the operator just ignored my properties

**To Reproduce**
1. Add a new property
[code]
to this sample https://github.com/m88i/nexus-operator/blob/main/examples/nexus3-centos-no-volume-custom-properties.yaml

2. cre

[2021-11-10 05:51] patlachance commented on #23
When implementing this feature, please make sure to support access key / secret key (ak/sk) rotation. For example on OpenShift there is a [Cloud Credential Operator](https://github.com/openshift/cloud-credential-operator) handling creation of AWS IAM users and access key rotation (by simply deleting the secret containing the ak/sk). So the Nexus Operator could monitor the secret used for the blobs

[2021-11-17 17:59] ricardozanini commented on #23
hey @patlachance! thanks for reaching out. Do you have knowledge of Go and Operators to help us there? I have very limited time to work on this and I don't know when I'll be available to implement it. :(

[2021-11-29 14:42] titou10titou10 commented on #214
Currently running OKD 4.9 with K8S v1.22 and hit by this problem
Q: Do you have an idea when v0.6.0 of the operator including this bug fix will be released?
Thx

[2021-11-29 16:21] ricardozanini commented on #214
oh I Just need to open the PR to the community
I'll do it this evening. Sorry man!

[2021-11-30 13:56] titou10titou10 commented on #214
@ricardozanini thanks!

[2021-11-30 14:57] ricardozanini commented on #214
I already a snapshot ready, running tests :)

[2021-12-07 07:49] tibcoplord commented on #214
Docker for desktop now runs kubernetes 1.22.4 FYI.

[2021-12-07 15:06] ricardozanini commented on #214
Opened PRs to upgrade the operator:

- https://github.com/k8s-operatorhub/community-operators/pull/479
- https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/511

I believe that tomorrow the catalog will be updated with this new version. Thanks for the patience, guys.

[2021-12-07 20:36] titou10titou10 commented on #214
the operator is now  available on operatorhub  and it works perfectly on OKD 4.9/k8s 1.22
thanks !

[2021-12-07 20:52] ricardozanini commented on #214
@LCaparelli FYI

[2021-12-07 22:43] tibcoplord commented on #214
Failed on docker-for-desktop 4.3.0.

[code]

pod logs included

[code]

[2021-12-08 00:15] kapetre commented on #214
Had some challenges on okd4.8 (operator auto update) and fresh install on okd4.9.
Deployment got stuck when the pod failed to find an appropriate scc to use.

Adding `configMap` to the volumes allowed for the scc (originally created from [examples/scc-persistent.yaml](https://github.com/m88i/nexus-operator/blob/412f4c9b21b5fe8a4cf6b19fe10ac37e35ae770c/examples/scc-persistent.yaml#L20)) seemed to d

[2021-12-08 00:51] ricardozanini commented on #214
@kapetre, unfortunately, the official Nexus image requires a root user to run. We didn't want to change the image ourselves, keeping a separate registry used by only our operator. So configuring the SCC is a must. There are instructions in the project's readme. Glad that you made it work. :)

[2021-12-08 00:53] ricardozanini commented on #214
@tibcoplord it seems to me a problem with permissions in your volume:

[code]

Make sure that your user running the container has the necessary permissions in the /nexus-data directory.

[2021-12-08 07:16] tibcoplord commented on #214
Volume was created by the operator ... nothing I did here.

[2021-12-08 08:17] tibcoplord commented on #214
I noticed that the nexus process is running as userid nexus -

[code]

and *most* of the permissions in /nexus-data got set correctly -

[code]

But etc is not accessible to the nexus process.  With 0.5.0 I see etc is owned by user nexus.

The only work-around I can think of is to add a second volume to /nexus-data/etc, eg -

[code]

[2021-12-08 12:52] ricardozanini commented on #214
I'm going to upload the assets today. :)

I need to take a look at the commits related to the `nexus-data` directory to see if we introduced a bug there. I'll open a new issue to investigate.

[2021-12-08 12:56] ricardozanini commented on #214
@tibcoplord the `nexus-data/etc` is mounted by the configMap now to hold the custom properties:
https://github.com/m88i/nexus-operator/commit/f8f095f0991d4b0dadad901de5f4b0677de2e5d5#diff-52a63cef8b9b1cce47e53f349281e0c4d51ac18ddfbfcb7906b7e0a7b60a097fR52

Since on OpenShift and Kubernetes the user running in the container has the correct permissions to access this directory. Maybe something we co

[2021-12-13 05:18] bdurrow opened #218 "Pod won't start in Openshift after upgrade to 0.6.0"
**Describe the bug**
After upgrading to Nexus Operator 0.6.0 the pod will not start with the following event associated with the replicaset-controller:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest version using operator hub
2. Install scc and associate with service account as indicated in the README.md

**Expected behavior**
Expected pod to start so that requests co

[2021-12-13 12:58] ricardozanini commented on #214
I'll release it today

[2021-12-13 12:59] ricardozanini commented on #218
Thanks! I'll fix this and release a  `0.6.1.`.

[2021-12-13 13:00] #218 closed

[2021-12-14 21:25] #216 closed

[2021-12-14 21:25] ricardozanini commented on #216
0.6.0 release fixes this.

[2021-12-14 21:28] ricardozanini opened #219 "Update CI to use new OLM tests"
See: https://operator-framework.github.io/community-operators/operator-test-suite/

Our GitHub actions need to add this step in order to test our operator with OLM.

[2021-12-14 21:29] ricardozanini commented on #219
Duplicates #193

[2021-12-15 14:21] slenky commented on #214
Having the same issue with `java.nio.file.AccessDeniedException: /nexus-data/etc/logback` on EKS.
Nexus `3.37`, operator `0.6.0`. Folder is owned by root as well :(

[2021-12-15 17:07] ricardozanini commented on #214
@slenky, I think this is a matter of EKS configuration. If I can do something on the operator side, let me know. Can you help investigate? I don't have much time lately to look into this.

[2022-01-05 13:40] ricardozanini commented on #214
@tibcoplord I'm investigating the CM privileges issue. Are you using RH or community image? I ask because the `fsGroup` is already set to use the nexus user, see: https://github.com/m88i/nexus-operator/blob/main/controllers/nexus/resource/deployment/deployment.go#L281

So the CM should be mounted with nexus user permission.

[2022-01-09 07:51] patlachance commented on #23
@ricardozanini unfortunately I don't have enough knowledge of Go or operators development in Go, at the moment. Maybe some day! Till then, I'll try to have some colleagues looking at this issue!

[2022-01-10 09:27] slenky commented on #214
Hello @ricardozanini , we are currently creating an emptyDir volume mounted to `/nexus-data/etc/logback` and it does a trick :)

[2022-01-10 11:21] ricardozanini commented on #214
Ok, I'll add this volume by default then
Thanks @slenky!

[2022-01-10 11:28] ricardozanini opened #222 "ConfigMap mounts Nexus property directory with wrong permissions on OCP"
**Describe the bug**
The CM for nexus.properties (#212) mounts on `$data-dir/etc`, which makes the path owned by root. This way the `nexus` user in the community image can't write the logs in the `$data-dir/etc/logback`. See https://github.com/m88i/nexus-operator/issues/214#issuecomment-988593265 for context.

One way to avoid this is creating an empty volume on `$data-dir/etc/logback`, which can

[2022-01-10 11:30] ricardozanini commented on #23
Many thanks, @patlachance
I don't have an AWS environment to test, thou. Are you able to test it?

[2022-01-10 11:31] ibotty commented on #23
I can and like to test with my local s3 compatible service.

[2022-01-10 11:35] ricardozanini commented on #23
+1! Thanks @ibotty

[2022-01-20 23:30] nnachefski opened #223 "Deployment Error on Openshift 4.8 - RuntimeException: AccessDeniedException: /nexus-data/etc/logback"
Hello,

I'm getting this error when attempting to deploy a nexus instance via the Community Operator from the catalog on Openshift 4.8

`1) [Guice/ErrorInjectingConstructor]: RuntimeException: AccessDeniedException: /nexus-data/etc/logback
`

Instance config is:

[code]

[2022-01-21 15:10] ricardozanini commented on #223
Hi! Can you try mounting an empty volume dir in this path like was discussed here? https://github.com/m88i/nexus-operator/issues/222

[2022-02-14 20:16] asteven opened #224 "ingressclass is hardcoded to nginx"
**Describe the bug**
The created ingress resource is annotated with: "kubernetes.io/ingress.class: nginx".
I use traefik, not nginx. The nexus-operator is unusable with a non-nginx ingress.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an nexus instance with networking.exposeAs: Ingress
2. See that the ingress is created with a annotation: "kubernetes.io/ingress.class: nginx"

**Exp

[2022-02-15 13:13] ricardozanini commented on #224
Can you create the Nexus instance without the Ingress and manually create yours as a workaround?

[2022-02-15 20:22] asteven commented on #224
Sure. That's what I'm doing.
I configure my nexus instance with networking.expose=false and create an ingress with a different name myself.
If my custom ingress has the same name as the nexus instance your operator deletes it.

[2022-02-15 20:32] ricardozanini commented on #224
Hmm, this is a bug, should not delete it if it's not owned by the operator. Many thanks for reporting it.

[2022-03-09 14:44] arnouthoebreckx opened #225 "Support for external DB"
Nexus has support for external DB since 3.31.0 https://help.sonatype.com/repomanager3/planning-your-implementation/sql-database-options.

Might be interesting to add this option as it's useful for resilience.

[2022-04-09 13:08] vicnoah opened #226 "Installation is complete and does not open properly."
**Describe the bug**
Installation is complete and does not open properly.

**To Reproduce**
Steps to reproduce the behavior:
1. <!-- Replace this text --!>
2. <!-- Replace this text --!>

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
A concise description of your environment: OpenShift or Kubernetes version, Nexus Operator version.

Client V

[2022-04-11 12:22] ricardozanini commented on #226
Looking at your stack trace, you're trying to expose the Nexus server in Kubernetes using OpenShift approach. Can you try modifying the CR to use `ingress` instead?

https://github.com/m88i/nexus-operator/#network-on-kubernetes-114

[2022-04-12 00:36] vicnoah commented on #226
Thanks, I will try

[2022-04-18 06:16] vicnoah commented on #226
I still have this problem and I don't know how to solve it, I got this error when I installed operator。
![image](https://user-images.githubusercontent.com/20820831/163763990-de5892e8-218c-40e4-804f-88f5fc56578b.png)

[2022-04-19 01:00] vicnoah commented on #226
I tried this configuration after installing operator but it didn't work.
I don't know how to do it.
I will try again.

apiVersion: apps.m88i.io/v1alpha1
kind: Nexus
metadata:
  name: nexus3
spec:
  (...)
  networking:
    expose: true
    exposeAs: "Ingress"
    host: "nexus.example.com"

[2022-04-19 18:03] ricardozanini commented on #226
Hi!

MinimumReplicasUnavailable means that you don't have the resources to start the pod: https://github.com/kubernetes/kubernetes/blob/3615291/pkg/controller/deployment/util/deployment_util.go#L98-L100

[2022-04-25 14:04] devent commented on #223
I hit the same bug in Kubernetes with NFS storage. The workaround works:

[code]

[2022-04-27 09:11] devent opened #227 "InvalidStateException: Invalid state: INITIALISED; allowed: [STARTED]"
**Describe the bug**

The error pops out: Invalid state: INITIALISED; allowed: [STARTED] at the page repositories. No repositories can be created.

**To Reproduce**
Steps to reproduce the behavior:
1. install operator
2. install nexus
3. login per admin default credentials
4. run the wizard
5. go to Repositories page

**Expected behavior**

No error, repositories can be created.

**Environment**

[2022-04-27 13:28] ricardozanini commented on #227
Hi, @devent. Many thanks for opening this bug. Can you try using an older Nexus Server image? Not sure how this error relates to the operator's deployment. I do not see a file system error or configuration. Have you reported to Nexus? Is this error happening locally (docker run <nexus-server-image>)?

[2022-04-27 13:56] devent commented on #227
I just restarted Nexus and now the repositories are there. I will close this.

[2022-05-17 01:49] FlowBreeze commented on #227
Same issue here
Nexus opeator got error state: INITIALISED when first time bootstarp
The current solution is delete nexus pod and wait it to restart
[code]

And may this issue open to help others or wait a better solution?

[2022-05-17 07:31] ricardozanini commented on #227
@FlowBreeze, this seems to me a problem on the Nexus side, not in the operator. I'd like to understand a little better what is happening; maybe can you open an issue in their JIRA?

[2022-05-17 10:30] FlowBreeze commented on #227
Sorry for that @ricardozanini
I haven't test Nexus works on local machine or not
So maybe it's not a good idea for me to open an issue on Nexus

[2022-05-19 09:01] ricardozanini commented on #227
@FlowBreeze can you please link the issue here once you open it?

I'm reopening this issue to follow up.

[2022-07-07 22:53] Johsua-123 opened #228 "Nexus not starting"
My nexus server is not being started and the file sonatype-work/nexus3 doesnt contain any log file (Starting it with command: screen -S nexus ./bin/nexus start)

But when i run the command "screen -S  nexus ./bin/nexus run" i get an issue

OpenJDK 64-Bit Server VM warning: Cannot open file ../sonatype-work/nexus3/log/jvm.log due to Permission denied

Warning:  Cannot open log file: ../sonatype-wor

[2022-07-10 20:52] bfblog opened #229 "Release contains non-standard k8s Ressource"
The release v0.6.0 contains non-standard Ressource "monitoring.coreos.com/v1". I think this artifact relates to openshift and causes error output on a console when installing yamls to k8s. I recommend removing it from the standard setup because it is confusing.
.

[2022-07-11 18:51] ricardozanini commented on #229
Hi @bfblog! I agree!
This is a resource from the Prometheus Operator IIRC. Do you mind sending a PR? It should be an easy fix. We can provide this resource in a separate file in the next release.

[2022-07-11 18:53] ricardozanini commented on #228
Hi! What's your environment? And how did you create the nexus instance in the cluster? Where are you running this command?